div#login
      <h2>Confirm Email</h2>
      blah blah blah blah blah
      button.btn-large.btn-primary(type="submit", formmethod="post", formaction="/login" ) Resend Confirmation
      br
      a#login-reset-password Sign Up
      br
      a#login-reset-password Reset Password