script

    $(document).ready(function(){
      if ("#{locals.loggedIn}") {  //logged in
        if("#{locals.confirmed}") { //confirme d
          $("#mcEnterComp").show();
        } else {
          $("#confirmDiv").show();
        }
          
      } else {
        $("#signUpDiv").show();
      }


        $("#switchToLogin").click(function() {
            $("#signUpDiv").hide();
            $("#logInDiv").show();
        });
        $("#switchToSignUp").click(function() {
            $("#logInDiv").hide();
            $("#signUpDiv").show();
        });
        $("#switchToLogin2").click(function() {
            $("#resetPassDiv").hide();
            $("#logInDiv").show();
        });
        $("#switchToSignUp2").click(function() {
            $("#resetPassDiv").hide();
            $("#signUpDiv").show();
        });
        $("#switchToSignUp3").click(function() {
            $("#confirmDiv").hide();
            $("#signUpDiv").show();
        });
        $("#loginResetPassword").click(function() {
            $("#logInDiv").hide();
        });
        $("#loginResetPassword").click(function() {
            $("#logInDiv").hide();
            $("#resetPassDiv").show();
        });

        $("#switchToHypeSubmit").click(function() {
            $("#termsDiv").hide();
            $("#mcEnterComp").show();
        });

        $("#switchToTerms").click(function() {
            $("#mcEnterComp").hide();
            $("#termsDiv").show();
        });

        $('#signUpForm').validate(
        {
            rules: {
                email: {
                    required: true,
                    email: true
                },
                pass: {
                    required: true,
                    minlength: 6
                },
                repass: {
                    required: true,
                    equalTo: "#pass"
                },
            },
            messages: {
                email: {
                    required: "This is empty you butt.",
                    email: "That is not an email."
                },
                pass: {
                    required: "You need a password, foo.",
                    minlength: "Your password blows, go longer."
                },
                repass: {
                    required: "Derp.",
                    equalTo: "Try again, they're not the same."
                },
            }
        });   

        $('#logInForm').validate(
        {
            rules: {
                email: {
                    required: true,
                    email: true
                },
                pass: {
                    required: true,
                },
            },
            messages: {
                email: {
                    required: "EMAIL, DAMNT!",
                    email: "That looks dumb."
                },
                pass: {
                    required: "PASSWORD, DAMNT!",
                },
            }
        }); 
     
        $("#fakeResetButton").click(function() {
          // post details to sign up

            alert("Ha, this button doesn't do shit.")
        });
        
    });

div#signUpDiv
      <h2>SIGN UP</h2>
      form#signUpForm
        input.email(type='email', id='email', name='email', placeholder='Email')
        input.password(type='password', id='pass', name='pass', placeholder='Password')
        input.password(type='password', id='repass', name='repass', placeholder='Retype password')
        button.btn-large.btn-primary(id="signUpButton", type="submit", formmethod="post", formaction="/signup") SIGN UP
      br
      a(id="switchToLogin", href="#") LOGIN

script
    $("#signUpDiv").hide();

div#logInDiv
      <h2>LOGIN</h2>
      form#logInForm
        input.email(type='email', name='email', placeholder='Email', required)
        input.password(type='password', name='pass', placeholder='Password', required)
        button.btn-large.btn-primary(id="loginButton", type="submit", formmethod="post", formaction="/login" ) LOGIN
      br
      a(id="loginResetPassword", href="#") RESET PASS
      br
      a(id="switchToSignUp", href="#") SIGN UP

script
    $("#logInDiv").hide();

div#confirmDiv
      <h2>CONFIRM EMAIL</h2>
      p check your inbox or an email from us
      form#confirmForm
        input.text(type='text', id='confkey', name='confkey', placeholder='Confirmation Code', required)
        button.btn-large.btn-primary(id="confirmKeyButton", type="submit", formmethod="post", formaction="/confirm" ) CONFIRM
      br
      br
      a(id="logOut2", href="logout") LOGOUT

script
    $("#confirmDiv").hide();

div#resetPassDiv
      h2 RESET PASS
      span did you forget your password? 
      br
      span dummy...
      br
      br
      button.btn-large.btn-primary(type="button", id="fakeResetButton") RESET
      br
      br
      br
      br
      a(id="switchToSignUp2", href="#") SIGN UP
      br
      a(id="switchToLogin2", href="#") LOGIN

script
    $("#resetPassDiv").hide();

div#mcEnterComp
  <h2>Enter Competition</h2>
  span sign up yo.
  br
  span hype track must say clabtrap.
  br
  br
  form#enterCompForm
    input.text(type='url', id='mchype', name='hype', placeholder='Hype Track Link', required)
    input.text(type='text', id='mcname', name='name', placeholder='MC Name', required)
    br 
    span <input id="termCheckBox", type="checkbox", required> agree to 
    a(id="switchToTerms", href="#") terms
    br
    br
    button.btn-small.btn-primary(id="submitDeetsButton", type="submit", formmethod="post", formaction="/2013hype") SUBMIT
    br
    a(id="logOut", href="logout") LOGOUT
script
    $("#mcEnterComp").hide();

div#termsDiv
      h2 TERMS
      a(id="switchToHypeSubmit", href="#") GO BACK
      br
      br
      p By entering this competition you give CLABTRAP permission to use your submissions however they desire. Entries will be uploaded to various sites and shown to a wide audience. Entries may also be included on a competition album, which will be sold. If you do not want your music, vocals, or art to appear on the album do not enter the competition. Submissions must be your original work but can include other works that you have clear permission to use.</p>

script
    $("#termsDiv").hide();