!!! 5
html(lang='en')  
  head  
    title= title  
    //include header_css
  body
    div#status_bar
        include status_bar
    div#navigation
        include navigation
    block body

    script(src="./libraries/jquery.min.js")
    script(src="./libraries/jquery.validate.min.js")