extends layout

block body
        div#landingbg
            div#content
                div#landingmain
                        b
                            a(href="/2013") Back
                        br
                        br
                        a(href="/")
                            img(src='../img/c_logo.jpg', alt='Clabtrap')
                        img(src='../img/divider.jpg', alt='Clabtrap')
                        br
                        br
                        P
                            h4 BATTLE BEATS
                        p
                            span Want MCs to battle on your beat? It has to have four 
                            span consecutive 16 bar verses and it should be around 85 - 
                            span 95 bpm. Your beat will be included on the competition 
                            span album. 
                            br
                            br
                            b Send battle beats to 
                            a(href="mailto:red@clabtrap.com") this email.
                            br
                            br
                        p
                            span Here is an example of a dope beat by 
                            a(href="http://www.newgrounds.com/audio/listen/434874", target="_blank") Rama
                            span .
                            br
                            br
                            br
                            br
                            br
                        p
                            h4 SIGN UPS CLOSE JUNE 20, 11:59 PM
                div#landingsidebaralbums
                    br
                    p 
                        b
                            a(href="http://www.newgrounds.com/store/product/hip-hop-2010-cd", target="_blank")
                                img(src='../img/clab2010.jpg', alt='Clabtrap')
                            br
                            
                            br
                            a(href="http://www.newgrounds.com/store/product/hip-hop-2011-cd", target="_blank")
                                img(src='../img/clab2011.jpg', alt='Clabtrap')
                            br
                            br

                            a(href="http://bigred.newgrounds.com/news/post/713511", target="_blank")
                                img(src='../img/clab2012.jpg', alt='Clabtrap')
                            br