extends layout

block body
        div#landingbg
            div#content
                div#landingmain
                        b
                            a(href="/2013") Back
                        br
                        br
                        a(href="/")
                            img(src='../img/c_logo.jpg', alt='Clabtrap')
                        img(src='../img/divider.jpg', alt='Clabtrap')
                        br
                        br
                        P
                            h4 MCS
                        p
                            span So you want to battle.  If you're new to Clabtrap, this is an MC Knock Out competition. 
                            span Each round you will be paired with an opponent. The first MC (chosen randomly) will select 
                            span a beat. 
                            span You have three days to record a verse and send it to your opponent. 
                            span When you have each recorded two verses the battle is uploaded and voted on.  The winner 
                            span advances to the next round, and the loser is knocked out.  To see what the Knock Out 
                            span looked like last year check out 
                            a(href="http://bigred.newgrounds.com/news/post/713511",target="_blank") this post
                            span .
                            br
                            br
                        p
                            span To sign up all you need to do is make an account and submit a hype track.  This track 
                            span must be new material and use the word Clabtrap.
                            br
                            br
                            br
                        p
                            h4 SIGN UPS CLOSE JUNE 20, 11:59 PM
                div#landingsidebaralbums
                    br
                    p 
                        b
                            a(href="http://www.newgrounds.com/store/product/hip-hop-2010-cd", target="_blank")
                                img(src='../img/clab2010.jpg', alt='Clabtrap')
                            br
                            
                            br
                            a(href="http://www.newgrounds.com/store/product/hip-hop-2011-cd", target="_blank")
                                img(src='../img/clab2011.jpg', alt='Clabtrap')
                            br
                            br

                            a(href="http://bigred.newgrounds.com/news/post/713511", target="_blank")
                                img(src='../img/clab2012.jpg', alt='Clabtrap')
                            br