extends layout

block body
                        br
                        br
                        a(href="/")
                            img(src='../img/c_logo.jpg', alt='Clabtrap')
                        img(src='../img/divider.jpg', alt='Clabtrap')
                        br
                        br
                        P
                            h4 WE NEED:
                            b 
                                a(href="/2013mcs") mcs 
                                span to battle  
                            br
                            b 
                                a(href="/2013beats") beats 
                                span to battle on
                            br
                            b 
                                span listeners to vote
                        br
                        p
                            span Once a year a horde of angry MCs gather to battle.  Last year 46 rappers faught for over $750 in 
                            span prizes.  5 battles later, 
                            a(href="http://www.newgrounds.com/audio/listen/493334", target="_blank") Scuare 
                            span emerged the victor.  Maybe this year it could be you.
                            br
                            br
                            span bitch. <br />
                            br
                            br
                        p
                            h4 SIGN UPS CLOSE JUNE 20, 11:59 PM

block sidebar
                div#landingsidebaralbums
                    br
                    p 
                        b
                            a(href="http://www.newgrounds.com/store/product/hip-hop-2010-cd", target="_blank")
                                img(src='../img/clab2010.jpg', alt='Clabtrap')
                            br
                            
                            br
                            a(href="http://www.newgrounds.com/store/product/hip-hop-2011-cd", target="_blank")
                                img(src='../img/clab2011.jpg', alt='Clabtrap')
                            br
                            br

                            a(href="http://bigred.newgrounds.com/news/post/713511", target="_blank")
                                img(src='../img/clab2012.jpg', alt='Clabtrap')
                            br