p About us blah blah blah
.alert.alert-info
  .msg Clabtrap is lovingly created in Edmonton, Alberta, Canada.
.row-fluid
  .span6
    h3 Creator 1
    p Twitter:&nbsp;
      a(href='https://twitter.com/', target='_blank') @Creator,&nbsp;
    p Blog:&nbsp;
      a(href='http://blog.com', target='_blank') blog.com
    p Email:&nbsp;
      a(href='mailto:blah@email.com', target='_blank') blah@email.com
  .span6
    h3 Creator 2
    p Twitter:&nbsp;
      a(href='https://twitter.com/', target='_blank') @Creator,&nbsp;
    p Blog:&nbsp;
      a(href='http://blog.com', target='_blank') blog.com
    p Email:&nbsp;
      a(href='mailto:blah@email.com', target='_blank') blah@email.com