footer
  .container
    .row-fluid
      .span2
        h4 Product
        ul
          li
            a(href='http://blog.mybackupbox.com', target='_blank', data-mixpanel-track='About Backup Box')
              | Help and Support
          li
            a(href='http://blog.mybackupbox.com', target='_blank', data-mixpanel-track='Blog')
              | Company Blog
          li
            a.submit-idea(href='mailto:support@mybackupbox.com', data-mixpanel-track-idea='Footer')
              | Submit an Idea
      
      .span2
        h4 Company
        ul
          li
            a(data-toggle='modal', data-target='#about-modal', data-mixpanel-track='About Backup Box')
              | About Us
          li
            a(data-toggle='modal', data-target='#terms-modal', data-mixpanel-track='Terms of Use')
              | Terms of Use
          li
            a(data-toggle='modal', data-target='#security-modal', data-mixpanel-track='Security Overview')
              | Security Overview
          li
            a(data-toggle='modal', data-target='#privacy-modal', data-mixpanel-track='Privacy Policy')
              | Privacy Policy

      .span2.offset6
        ul.social-buttons.float-right
          // Adapted from Dan Edwards! http://dribbble.com/shots/592368-Social-Buttons-Free-PSD
          li.facebook
            a(target='_blank', title='Like Backup Box on Facebook', href='https://facebook.com/BackupBox')
              .icon
              .tag Like us
          li.twitter
            a(target='_blank', title='Follow Backup Box (@BackupBox) on Twitter', href='https://twitter.com/intent/follow?original_referer=http%3A%2F%2Fplatform.twitter.com%2Fwidgets%2Ffollow_button.1334389481.html&region=follow_link&screen_name=BackupBox&source=followbutton&variant=2.0')
              .icon
              .tag Follow us
          li.google
            a(target='_blank', title='Share on Google+', href='https://plus.google.com/112593676243063891484', rel='publisher')
              .icon
              .tag +1 this
          li.linkedin
            a(target='_blank', title='LinkedIn', href='http://www.linkedin.com/company/2700736')
              .icon
              .tag Connect

      
    .row-fluid
      .span12.made-in-canada
        | Proudly made in Edmonton&nbsp;
        img(src='img/maple_leaf2.png')



//- Modals
#about-modal.modal.hide(data-width="50%")
  .modal-header
    a.close(data-dismiss='modal') ×
    h3 About Backup Box
  .modal-body
    include about
  .modal-footer
    a.btn(data-dismiss='modal', data-target='#about-modal') Close

 
#terms-modal.modal.hide(data-width="50%")
  .modal-header
    a.close(data-dismiss='modal') ×
    h3 Terms of Use
  .modal-body
    include terms
  .modal-footer
    p.suggestion.float-left Are we missing something in this box?
      a.submit-idea(href='mailto:support@mybackupbox.com', data-mixpanel-track-idea='Terms Modal', title='Open feedback & support dialog') &nbsp;Submit your suggestion!
    a.btn(data-dismiss='modal') Close

#privacy-modal.modal.hide(data-width="50%")
  .modal-header
    a.close(data-dismiss='modal') ×
    h3 Privacy Policies
  .modal-body
    include privacy
  .modal-footer
    p.suggestion.float-left Are we missing something in this box?
      a.submit-idea(href='mailto:support@mybackupbox.com', data-mixpanel-track-idea='Privacy Modal', title='Open feedback & support dialog') &nbsp;Submit your suggestion!
    a.btn(data-dismiss='modal') Close