block head
  link(rel='stylesheet', type='text/css', href='css/reset-min.css')

  link(rel='stylesheet', type='text/css', href='css/bootstrap.min.css')
  link(rel='stylesheet', type='text/css', href='css/bootstrap-responsive.min.css')
  link(rel='stylesheet', type='text/css', href='css/bootstrap-modal.css')
  link(rel='stylesheet', type='text/css', href='css/jquery.timepicker.css')

  link(rel='stylesheet', type='text/css', href='css/index.css')
  link(rel='stylesheet', type='text/css', href='css/style.css')
  script(type='text/javascript', src='js/libs/jquery.validate.js')
