header#top
  .alert.alert-info.hide(style='text-align: center; font-weight: bold; font-size: 1.2em; line-height: 2.2em;')
      span.msg
        a(href='http://status.dropbox.com') Dropbox
        | is currently experiencing some issues, some uploads may not complete. Sorry for any inconvenience, please contact
        a(href='mailto:support@clabtrap.com') support
        | with any questions.
    #header-container.container
      #top-inner.row-fluid
        .span12
          #service-icons.pre-login
            img(src='img/connectors/Box-logo.png', rel='tooltip', data-placement='bottom', data-title='Box! Access your enterprise files!')
          ul.nav.nav-pills.hide.post-login(style='float: right; margin: 0;')
            li
              a#account-btn Account
            li
              a#schedules-btn Competitions
            li
              a#transfers-btn Your Battles
            li
              a#logout-btn(tabindex='50') Logout
