extends layout

block body
                        br
                        br
                        a(href="/")
                            img(src='../img/c_logo.jpg', alt='Clabtrap')
                        img(src='../img/divider.jpg', alt='Clabtrap')
                        br
                        br
                        span#landingtext
                            <h2>BATTLE RAP</h2> <b> sign up to compete in the <br /> 2013 clabtrap competition
                            br
                            br
                            h4 <a href="/2013">MORE INFO</a>
                            br
                            br
                            a(href="http://teqneek.newgrounds.com/news/post/843684", target="_blank") Pre-Comp Battle Round
                            br
                        div#landinglogin
                            include partials/login/signup


block sidebar
                    <h2>HYPE TRACKS</h2> 
                    div#landingmclist   
                        each mc, i in mcs
                            span #{i+1} <a target="_blank"href = #{mc.link}> #{mc.mc_name} </a>
                            br

block footer
    b CHAT WITH US
    br
    b
        a(href="http://www.newgrounds.com/bbs/topic/1340252",target="_blank") NEWGROUNDS 
        span  | 
        a(href="http://twitter.com/search?q=%23clab13",target="_blank") TWITTER 
        span | 
        a(href="mailto:red@clabtrap.com",target="_blank") EMAIL