body {
  background: url(../img/landing_bg.jpg) repeat top left;
}

#landingbg { 
    min-width: 960px;
	  width: 100%;
    height: 100%;
    top: 0;
    position:absolute;
    margin: 0; padding: 0;
    }

#content {
  width: 960px;
  margin: 0px auto 0px auto;
  position: relative;
}


#landingmain {
  color: #282828;
  background-color: #FFF;
  width: 600px;
  margin-top: 30px;
  text-align:center;
  display: inline-block;
  *display: inline;
  zoom: 1
  }

#landingtext {
  width: 275px;
  height:270px;
  float:left;

}

#landinglogin {
  width: 275px;
  height:270px;
  float:left;
  padding-left: 15px
}

#landingsidebar {
  color: #282828;
  background-color: #FFF;
  width:330px;

  position:absolute;
  text-align: center;
  top: 30px;
  right:0px;

  }

#landingsidebaralbums {
  color: #282828;
  background-color: #FFF;
  padding: 15px;
  width:180px;
  height:540px;
  margin-top: 30px;
  margin-right: 100px;
  text-align: center;
  float:right;
  }

#landingmclist {
  overflow:auto;
  height:410px;
}

#signUpDiv {
  overflow:auto;
  height:293px;
}

#termsDiv {
  overflow:auto;
  text-align:left;
  height:293px;
}

#divContactFooter {
  padding: 30px;
}